html,
body {
    font: $font-size/1.5 $font-stack;
    font-family: "KelsonSans", sans-serif;
    line-height: $line-height;
	background: var(--color-alpha-x);
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: var(--color-esn-pink);
	color: var(--color-font-light);
}

body {
    margin: 0;
}

p, h1, h2, h3{
    color: white;
}