.c-footer {
    z-index: 3;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: var(--margin-large);
    background-color: black;
    opacity: 0.8;
}

.c-footer__item-name {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
}

.c-footer__logo-item{
    height: 50px;
    margin-left: var(--margin-24);
    position: absolute;
    top: 0;
}

.c-footer__item-creator{
    margin-left: 108px;
}