:root{
    --color-esn-orange: #F57B20;
    --color-alpha-x: #222131;
    --color-esn-pink: #ED008C;
    --margin-24: 24px;
    
    --color-font-esn-orange: #F57B20;
    --color-font-light-x: #A5A5A5;
    --color-font-light: white;
}